@charset "UTF-8";
/* line 1, /opt/apps/developers.digitalocean.com/releases/20141114165310/source../css/modules/_pure-override.scss */
html, button, input, select, textarea,
.pure-g [class*="pure-u"],
.pure-g-r [class*="pure-u"] {
  font-family: "proxima-nova", sans-serif; }

/* line 1, /opt/apps/developers.digitalocean.com/releases/20141114165310/source../css/_layout.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

/* line 7, /opt/apps/developers.digitalocean.com/releases/20141114165310/source../css/_layout.scss */
body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, input, ul, li, p {
  font-family: "proxima-nova", sans-serif !important;
  font-weight: 400;
  -webkit-font-smoothing: antialiased !important;
  text-rendering: optimizeLegibility !important; }

/* line 14, /opt/apps/developers.digitalocean.com/releases/20141114165310/source../css/_layout.scss */
input {
  font-family: "proxima-nova", sans-serif; }

/* line 18, /opt/apps/developers.digitalocean.com/releases/20141114165310/source../css/_layout.scss */
ul, li {
  margin: 0;
  padding: 0;
  list-style: none; }

/* line 24, /opt/apps/developers.digitalocean.com/releases/20141114165310/source../css/_layout.scss */
h1, h2, h3, h4 {
  font-weight: normal;
  margin: 0; }

/* line 29, /opt/apps/developers.digitalocean.com/releases/20141114165310/source../css/_layout.scss */
p {
  margin: 0; }

/* line 33, /opt/apps/developers.digitalocean.com/releases/20141114165310/source../css/_layout.scss */
.wrapper-full {
  width: 1100px;
  margin: 0 auto; }

/* line 38, /opt/apps/developers.digitalocean.com/releases/20141114165310/source../css/_layout.scss */
.wrapper-slim {
  width: 750px;
  margin: 0 auto; }

/* line 43, /opt/apps/developers.digitalocean.com/releases/20141114165310/source../css/_layout.scss */
h1.main-page-header, h2.main-page-header {
  font-weight: 800;
  font-size: 36px;
  margin-bottom: 10px;
  color: #2B2B2B;
  text-align: center; }

/* line 51, /opt/apps/developers.digitalocean.com/releases/20141114165310/source../css/_layout.scss */
h3.main-sub-header {
  text-align: center;
  font-weight: 300;
  font-size: 24px;
  line-height: 1.5;
  padding: 0 130px; }
  /* line 58, /opt/apps/developers.digitalocean.com/releases/20141114165310/source../css/_layout.scss */
  h3.main-sub-header strong {
    font-weight: 600; }

/* line 63, /opt/apps/developers.digitalocean.com/releases/20141114165310/source../css/_layout.scss */
.flash {
  padding: 25px;
  background-color: #EFF7FC;
  margin-bottom: 50px;
  color: #2E4963;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  position: relative; }
  /* line 71, /opt/apps/developers.digitalocean.com/releases/20141114165310/source../css/_layout.scss */
  .flash p {
    padding-right: 160px;
    font-size: 19px; }
    /* line 75, /opt/apps/developers.digitalocean.com/releases/20141114165310/source../css/_layout.scss */
    .flash p strong {
      font-weight: 600; }
  /* line 80, /opt/apps/developers.digitalocean.com/releases/20141114165310/source../css/_layout.scss */
  .flash a {
    background: #3686be;
    padding: 7px 15px;
    color: #FFF;
    display: block;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    text-decoration: none;
    font-size: 13px;
    font-weight: 600;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    position: absolute;
    right: 22px;
    top: 22px; }

/* line 97, /opt/apps/developers.digitalocean.com/releases/20141114165310/source../css/_layout.scss */
#white-header {
  border-bottom: 1px solid #e1e1e1; }

/* line 101, /opt/apps/developers.digitalocean.com/releases/20141114165310/source../css/_layout.scss */
.main {
  padding: 70px 0 100px 0;
  float: left;
  width: 100%;
  text-align: center; }

/* line 3, /opt/apps/developers.digitalocean.com/releases/20141114165310/source../css/_help.scss */
.help-section #white-header, .changelog-wrap #white-header {
  margin-bottom: 55px; }
/* line 7, /opt/apps/developers.digitalocean.com/releases/20141114165310/source../css/_help.scss */
.help-section .wrapper-full, .changelog-wrap .wrapper-full {
  position: relative;
  text-align: left; }
  /* line 11, /opt/apps/developers.digitalocean.com/releases/20141114165310/source../css/_help.scss */
  .help-section .wrapper-full .cloud-status, .changelog-wrap .wrapper-full .cloud-status {
    position: absolute;
    top: 15px;
    right: 0;
    color: #454545; }
    /* line 17, /opt/apps/developers.digitalocean.com/releases/20141114165310/source../css/_help.scss */
    .help-section .wrapper-full .cloud-status a, .changelog-wrap .wrapper-full .cloud-status a {
      color: inherit; }
    /* line 21, /opt/apps/developers.digitalocean.com/releases/20141114165310/source../css/_help.scss */
    .help-section .wrapper-full .cloud-status span, .changelog-wrap .wrapper-full .cloud-status span {
      width: 12px;
      height: 12px;
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      -ms-border-radius: 6px;
      -o-border-radius: 6px;
      border-radius: 6px;
      background: #93cc76;
      display: block;
      float: left;
      margin: 3px 12px 0 0; }
  /* line 32, /opt/apps/developers.digitalocean.com/releases/20141114165310/source../css/_help.scss */
  .help-section .wrapper-full h2, .changelog-wrap .wrapper-full h2 {
    margin-bottom: 43px;
    margin-top: 0;
    line-height: 1.2;
    text-align: left;
    font-size: 30px;
    font-weight: 800;
    color: #454545; }
  /* line 42, /opt/apps/developers.digitalocean.com/releases/20141114165310/source../css/_help.scss */
  .help-section .wrapper-full aside#help-nav, .changelog-wrap .wrapper-full aside#help-nav {
    width: 275px;
    float: left;
    margin-left: 75px;
    margin-top: 5px; }
    /* line 48, /opt/apps/developers.digitalocean.com/releases/20141114165310/source../css/_help.scss */
    .help-section .wrapper-full aside#help-nav h2, .changelog-wrap .wrapper-full aside#help-nav h2 {
      font-weight: 300;
      font-size: 24px;
      margin-bottom: 12px;
      padding-left: 20px; }
    /* line 55, /opt/apps/developers.digitalocean.com/releases/20141114165310/source../css/_help.scss */
    .help-section .wrapper-full aside#help-nav a.feed, .changelog-wrap .wrapper-full aside#help-nav a.feed {
      text-indent: -9999px;
      position: absolute;
      width: 13px;
      height: 13px;
      top: 15px;
      right: 13px;
      background-color: none;
      background-image: url("../images/feed-82b9fbdb.png");
      padding: 0; }
      /* line 66, /opt/apps/developers.digitalocean.com/releases/20141114165310/source../css/_help.scss */
      .help-section .wrapper-full aside#help-nav a.feed:hover, .changelog-wrap .wrapper-full aside#help-nav a.feed:hover {
        background-position: 0 -20px;
        background-image: url("../images/feed-82b9fbdb.png"); }
    /* line 72, /opt/apps/developers.digitalocean.com/releases/20141114165310/source../css/_help.scss */
    .help-section .wrapper-full aside#help-nav li.sidebar-title, .changelog-wrap .wrapper-full aside#help-nav li.sidebar-title {
      padding: 9px 40px 9px 20px;
      font-weight: 400;
      font-size: 18px;
      color: #3686be;
      position: relative; }
    /* line 80, /opt/apps/developers.digitalocean.com/releases/20141114165310/source../css/_help.scss */
    .help-section .wrapper-full aside#help-nav li.hasSub a:after, .changelog-wrap .wrapper-full aside#help-nav li.hasSub a:after {
      position: relative;
      content: "";
      width: 0;
      height: 0;
      border-top: 5px solid transparent;
      border-bottom: 5px solid transparent;
      border-left: 7px solid #9e9e9e;
      display: inline-block;
      margin-left: 12px; }
    /* line 92, /opt/apps/developers.digitalocean.com/releases/20141114165310/source../css/_help.scss */
    .help-section .wrapper-full aside#help-nav li.hasSub.open a:after, .changelog-wrap .wrapper-full aside#help-nav li.hasSub.open a:after {
      position: relative;
      content: "";
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 7px solid #9e9e9e;
      display: inline-block;
      margin-left: 12px;
      top: 4px; }
    /* line 105, /opt/apps/developers.digitalocean.com/releases/20141114165310/source../css/_help.scss */
    .help-section .wrapper-full aside#help-nav li.hasSub > a.active, .changelog-wrap .wrapper-full aside#help-nav li.hasSub > a.active {
      background: white;
      color: #989898; }
      /* line 108, /opt/apps/developers.digitalocean.com/releases/20141114165310/source../css/_help.scss */
      .help-section .wrapper-full aside#help-nav li.hasSub > a.active a.active, .changelog-wrap .wrapper-full aside#help-nav li.hasSub > a.active a.active {
        background-color: #f9f9f9; }
    /* line 113, /opt/apps/developers.digitalocean.com/releases/20141114165310/source../css/_help.scss */
    .help-section .wrapper-full aside#help-nav li, .changelog-wrap .wrapper-full aside#help-nav li {
      border: 1px solid #E8E8E8;
      float: left;
      width: 100%;
      margin-top: -1px;
      margin-left: -1px; }
      /* line 120, /opt/apps/developers.digitalocean.com/releases/20141114165310/source../css/_help.scss */
      .help-section .wrapper-full aside#help-nav li a.active, .changelog-wrap .wrapper-full aside#help-nav li a.active {
        background-color: #f9f9f9;
        color: #3686be; }
        /* line 123, /opt/apps/developers.digitalocean.com/releases/20141114165310/source../css/_help.scss */
        .help-section .wrapper-full aside#help-nav li a.active:hover, .changelog-wrap .wrapper-full aside#help-nav li a.active:hover {
          color: #3686be; }
      /* line 128, /opt/apps/developers.digitalocean.com/releases/20141114165310/source../css/_help.scss */
      .help-section .wrapper-full aside#help-nav li h3, .changelog-wrap .wrapper-full aside#help-nav li h3 {
        color: #989898;
        font-size: 16px;
        font-weight: 600;
        margin: 2px 0 1px 0;
        line-height: 1.2; }
      /* line 136, /opt/apps/developers.digitalocean.com/releases/20141114165310/source../css/_help.scss */
      .help-section .wrapper-full aside#help-nav li p.small, .changelog-wrap .wrapper-full aside#help-nav li p.small {
        font-size: 12px;
        display: inline; }
        /* line 140, /opt/apps/developers.digitalocean.com/releases/20141114165310/source../css/_help.scss */
        .help-section .wrapper-full aside#help-nav li p.small:after, .changelog-wrap .wrapper-full aside#help-nav li p.small:after {
          content: "•";
          position: relative;
          padding: 0 4px 0 8px; }
        /* line 147, /opt/apps/developers.digitalocean.com/releases/20141114165310/source../css/_help.scss */
        .help-section .wrapper-full aside#help-nav li p.small:last-child:after, .changelog-wrap .wrapper-full aside#help-nav li p.small:last-child:after {
          display: none;
          padding: 0; }
      /* line 154, /opt/apps/developers.digitalocean.com/releases/20141114165310/source../css/_help.scss */
      .help-section .wrapper-full aside#help-nav li a, .changelog-wrap .wrapper-full aside#help-nav li a {
        display: block;
        padding: 13px 17px;
        text-decoration: none;
        color: #989898;
        font-size: 16px;
        font-weight: 600; }
        /* line 162, /opt/apps/developers.digitalocean.com/releases/20141114165310/source../css/_help.scss */
        .help-section .wrapper-full aside#help-nav li a:hover, .changelog-wrap .wrapper-full aside#help-nav li a:hover {
          background: #F4F4F4;
          color: #454545; }
          /* line 166, /opt/apps/developers.digitalocean.com/releases/20141114165310/source../css/_help.scss */
          .help-section .wrapper-full aside#help-nav li a:hover h3, .changelog-wrap .wrapper-full aside#help-nav li a:hover h3 {
            color: #676767;
            line-height: 1.2; }
    /* line 174, /opt/apps/developers.digitalocean.com/releases/20141114165310/source../css/_help.scss */
    .help-section .wrapper-full aside#help-nav ul.sub-nav, .changelog-wrap .wrapper-full aside#help-nav ul.sub-nav {
      display: none; }
      /* line 179, /opt/apps/developers.digitalocean.com/releases/20141114165310/source../css/_help.scss */
      .help-section .wrapper-full aside#help-nav ul.sub-nav li a, .changelog-wrap .wrapper-full aside#help-nav ul.sub-nav li a {
        padding-left: 40px;
        font-size: 16px;
        font-weight: 600; }
      /* line 184, /opt/apps/developers.digitalocean.com/releases/20141114165310/source../css/_help.scss */
      .help-section .wrapper-full aside#help-nav ul.sub-nav li:first-child, .changelog-wrap .wrapper-full aside#help-nav ul.sub-nav li:first-child {
        border-top: 1px solid #efefef; }
    /* line 190, /opt/apps/developers.digitalocean.com/releases/20141114165310/source../css/_help.scss */
    .help-section .wrapper-full aside#help-nav li.open + ul.sub-nav, .changelog-wrap .wrapper-full aside#help-nav li.open + ul.sub-nav {
      display: block; }
    /* line 196, /opt/apps/developers.digitalocean.com/releases/20141114165310/source../css/_help.scss */
    .help-section .wrapper-full aside#help-nav li.hasSub ul a:after, .changelog-wrap .wrapper-full aside#help-nav li.hasSub ul a:after {
      display: none; }
  /* line 203, /opt/apps/developers.digitalocean.com/releases/20141114165310/source../css/_help.scss */
  .help-section .wrapper-full .help-content, .changelog-wrap .wrapper-full .help-content {
    width: 750px;
    float: left;
    line-height: 1.5;
    font-size: 18px;
    color: #454545; }
    /* line 210, /opt/apps/developers.digitalocean.com/releases/20141114165310/source../css/_help.scss */
    .help-section .wrapper-full .help-content h1, .changelog-wrap .wrapper-full .help-content h1 {
      margin-bottom: 25px;
      text-align: left;
      font-size: 36px;
      line-height: 40px;
      font-weight: 800;
      color: #454545; }
    /* line 219, /opt/apps/developers.digitalocean.com/releases/20141114165310/source../css/_help.scss */
    .help-section .wrapper-full .help-content h4, .changelog-wrap .wrapper-full .help-content h4 {
      text-transform: uppercase;
      font-size: 16px;
      color: #c8c8c8;
      font-weight: 600;
      letter-spacing: .3px;
      margin-bottom: -2px; }
    /* line 228, /opt/apps/developers.digitalocean.com/releases/20141114165310/source../css/_help.scss */
    .help-section .wrapper-full .help-content p, .changelog-wrap .wrapper-full .help-content p {
      margin-bottom: 20px; }
      /* line 231, /opt/apps/developers.digitalocean.com/releases/20141114165310/source../css/_help.scss */
      .help-section .wrapper-full .help-content p a, .changelog-wrap .wrapper-full .help-content p a {
        color: #454545;
        border-bottom: 1px dotted #9e9e9e;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out; }
        /* line 236, /opt/apps/developers.digitalocean.com/releases/20141114165310/source../css/_help.scss */
        .help-section .wrapper-full .help-content p a:hover, .changelog-wrap .wrapper-full .help-content p a:hover {
          color: black;
          border-bottom: 1px dotted #454545; }
    /* line 243, /opt/apps/developers.digitalocean.com/releases/20141114165310/source../css/_help.scss */
    .help-section .wrapper-full .help-content h3, .changelog-wrap .wrapper-full .help-content h3 {
      font-weight: 600;
      font-size: 22px;
      margin-bottom: 10px;
      line-height: 1.3;
      border-top: 1px solid #eee;
      padding-top: 20px;
      color: #3686be; }
      /* line 252, /opt/apps/developers.digitalocean.com/releases/20141114165310/source../css/_help.scss */
      .help-section .wrapper-full .help-content h3:first-of-type, .changelog-wrap .wrapper-full .help-content h3:first-of-type {
        border-top: 0;
        padding-top: 0; }
    /* line 258, /opt/apps/developers.digitalocean.com/releases/20141114165310/source../css/_help.scss */
    .help-section .wrapper-full .help-content ul, .help-section .wrapper-full .help-content ol, .changelog-wrap .wrapper-full .help-content ul, .changelog-wrap .wrapper-full .help-content ol {
      margin-bottom: 30px;
      padding-left: 25px; }
      /* line 262, /opt/apps/developers.digitalocean.com/releases/20141114165310/source../css/_help.scss */
      .help-section .wrapper-full .help-content ul li, .help-section .wrapper-full .help-content ol li, .changelog-wrap .wrapper-full .help-content ul li, .changelog-wrap .wrapper-full .help-content ol li {
        margin-bottom: 1px;
        margin-left: 21px;
        list-style-position: outside;
        list-style-type: disc; }
        /* line 268, /opt/apps/developers.digitalocean.com/releases/20141114165310/source../css/_help.scss */
        .help-section .wrapper-full .help-content ul li a, .help-section .wrapper-full .help-content ol li a, .changelog-wrap .wrapper-full .help-content ul li a, .changelog-wrap .wrapper-full .help-content ol li a {
          color: #454545;
          border-bottom: 1px dotted #9e9e9e;
          -webkit-transition: all 0.2s ease-in-out;
          -moz-transition: all 0.2s ease-in-out;
          -ms-transition: all 0.2s ease-in-out;
          -o-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out; }
          /* line 273, /opt/apps/developers.digitalocean.com/releases/20141114165310/source../css/_help.scss */
          .help-section .wrapper-full .help-content ul li a:hover, .help-section .wrapper-full .help-content ol li a:hover, .changelog-wrap .wrapper-full .help-content ul li a:hover, .changelog-wrap .wrapper-full .help-content ol li a:hover {
            color: black;
            border-bottom: 1px dotted #454545; }
    /* line 281, /opt/apps/developers.digitalocean.com/releases/20141114165310/source../css/_help.scss */
    .help-section .wrapper-full .help-content ol, .changelog-wrap .wrapper-full .help-content ol {
      list-style: none;
      padding-left: 0;
      display: table;
      margin: 0 0 0 24px; }
      /* line 287, /opt/apps/developers.digitalocean.com/releases/20141114165310/source../css/_help.scss */
      .help-section .wrapper-full .help-content ol li, .changelog-wrap .wrapper-full .help-content ol li {
        margin-bottom: 0.5em;
        display: table-row;
        counter-increment: table-ol; }
        /* line 292, /opt/apps/developers.digitalocean.com/releases/20141114165310/source../css/_help.scss */
        .help-section .wrapper-full .help-content ol li:before, .changelog-wrap .wrapper-full .help-content ol li:before {
          content: counter(table-ol) ".";
          display: table-cell;
          padding-right: 0.4em;
          text-align: left; }
        /* line 299, /opt/apps/developers.digitalocean.com/releases/20141114165310/source../css/_help.scss */
        .help-section .wrapper-full .help-content ol li:after, .changelog-wrap .wrapper-full .help-content ol li:after {
          content: "";
          display: block;
          margin-bottom: 0.5em; }

/* line 312, /opt/apps/developers.digitalocean.com/releases/20141114165310/source../css/_help.scss */
.help-section .wrapper-full aside#help-nav {
  float: left;
  margin: 0 75px 0 0; }

/* line 1, /opt/apps/developers.digitalocean.com/releases/20141114165310/source../css/_api.scss */
pre {
  background-color: #f4f4f4;
  color: #3381b7;
  overflow: scroll;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px; }
  /* line 7, /opt/apps/developers.digitalocean.com/releases/20141114165310/source../css/_api.scss */
  pre code {
    padding: 1em !important;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 14px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    display: block; }

/* line 1, /opt/apps/developers.digitalocean.com/releases/20141114165310/source../css/_style-oauth.scss */
.hljs-comment, .hljs-title {
  color: #8e908c; }

/* line 1, /opt/apps/developers.digitalocean.com/releases/20141114165310/source../css/_style-oauth.scss */
.hljs-variable, .hljs-attribute, .hljs-tag, .hljs-regexp, .ruby .hljs-constant, .xml .hljs-tag .hljs-title, .xml .hljs-pi, .xml .hljs-doctype, .html .hljs-doctype, .css .hljs-id, .css .hljs-class, .css .hljs-pseudo {
  color: #c82829; }

/* line 1, /opt/apps/developers.digitalocean.com/releases/20141114165310/source../css/_style-oauth.scss */
.hljs-number, .hljs-preprocessor, .hljs-pragma, .hljs-built_in, .hljs-literal, .hljs-params, .hljs-constant {
  color: #f5871f; }

/* line 1, /opt/apps/developers.digitalocean.com/releases/20141114165310/source../css/_style-oauth.scss */
.ruby .hljs-class .hljs-title, .css .hljs-rules .hljs-attribute {
  color: #eab700; }

/* line 1, /opt/apps/developers.digitalocean.com/releases/20141114165310/source../css/_style-oauth.scss */
.hljs-string, .hljs-value, .hljs-inheritance, .hljs-header, .ruby .hljs-symbol, .xml .hljs-cdata {
  color: #718c00; }

/* line 1, /opt/apps/developers.digitalocean.com/releases/20141114165310/source../css/_style-oauth.scss */
.css .hljs-hexcolor {
  color: #3e999f; }

/* line 1, /opt/apps/developers.digitalocean.com/releases/20141114165310/source../css/_style-oauth.scss */
.hljs-function, .python .hljs-decorator, .python .hljs-title, .ruby .hljs-function .hljs-title, .ruby .hljs-title .hljs-keyword, .perl .hljs-sub, .javascript .hljs-title, .coffeescript .hljs-title {
  color: #4271ae; }

/* line 1, /opt/apps/developers.digitalocean.com/releases/20141114165310/source../css/_style-oauth.scss */
.hljs-keyword, .javascript .hljs-function {
  color: #8959a8; }

/* line 1, /opt/apps/developers.digitalocean.com/releases/20141114165310/source../css/_style-oauth.scss */
.hljs {
  display: block;
  background: white;
  color: #4d4d4c;
  padding: .5em; }

/* line 1, /opt/apps/developers.digitalocean.com/releases/20141114165310/source../css/_style-oauth.scss */
.coffeescript .javascript, .javascript .xml, .tex .hljs-formula, .xml .javascript, .xml .vbscript, .xml .css, .xml .hljs-cdata {
  opacity: .5; }

/* line 3, /opt/apps/developers.digitalocean.com/releases/20141114165310/source../css/_style-oauth.scss */
.aglio {
  font-family: 'Raleway' sans-serif !important; }

/* line 7, /opt/apps/developers.digitalocean.com/releases/20141114165310/source../css/_style-oauth.scss */
h1 a,
h2 a,
h3 a,
h4 a,
h5 a {
  display: none; }

/* line 14, /opt/apps/developers.digitalocean.com/releases/20141114165310/source../css/_style-oauth.scss */
h1:hover a,
h2:hover a,
h3:hover a,
h4:hover a,
h5:hover a {
  display: inline; }

/* line 21, /opt/apps/developers.digitalocean.com/releases/20141114165310/source../css/_style-oauth.scss */
code {
  color: #444;
  background-color: #ddd;
  font-family: 'Inconsolata' monospace !important; }

/* line 26, /opt/apps/developers.digitalocean.com/releases/20141114165310/source../css/_style-oauth.scss */
a[data-target] {
  cursor: pointer; }

/* line 29, /opt/apps/developers.digitalocean.com/releases/20141114165310/source../css/_style-oauth.scss */
h4 {
  font-size: 100%;
  font-weight: bold;
  text-transform: uppercase; }

/* line 34, /opt/apps/developers.digitalocean.com/releases/20141114165310/source../css/_style-oauth.scss */
.back-to-top {
  position: fixed;
  z-index: 1;
  bottom: 0px;
  right: 24px;
  padding: 4px 8px;
  background-color: #eee;
  text-decoration: none !important;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px; }

/* line 48, /opt/apps/developers.digitalocean.com/releases/20141114165310/source../css/_style-oauth.scss */
.panel {
  overflow: hidden; }

/* line 51, /opt/apps/developers.digitalocean.com/releases/20141114165310/source../css/_style-oauth.scss */
.panel-heading code {
  color: #c7254e;
  background-color: transparent; }

/* line 55, /opt/apps/developers.digitalocean.com/releases/20141114165310/source../css/_style-oauth.scss */
.panel-heading h3 {
  margin-top: 10px;
  margin-bottom: 10px; }

/* line 59, /opt/apps/developers.digitalocean.com/releases/20141114165310/source../css/_style-oauth.scss */
a.list-group-item {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; }

/* line 64, /opt/apps/developers.digitalocean.com/releases/20141114165310/source../css/_style-oauth.scss */
a.list-group-item.heading {
  background-color: #f5f5f5; }

/* line 67, /opt/apps/developers.digitalocean.com/releases/20141114165310/source../css/_style-oauth.scss */
.list-group-item.collapse {
  display: none; }

/* line 1, /opt/apps/developers.digitalocean.com/releases/20141114165310/source../css/_style-v2.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* line 5, /opt/apps/developers.digitalocean.com/releases/20141114165310/source../css/_style-v2.scss */
nav#nav {
  width: 275px;
  float: left;
  margin-right: 75px; }
  /* line 10, /opt/apps/developers.digitalocean.com/releases/20141114165310/source../css/_style-v2.scss */
  nav#nav ul.list-group {
    border: 1px solid #cfcfcf;
    margin-bottom: 20px;
    border-radius: 3px; }
    /* line 17, /opt/apps/developers.digitalocean.com/releases/20141114165310/source../css/_style-v2.scss */
    nav#nav ul.list-group li.heading a {
      font-size: 19px;
      font-weight: 400;
      background-color: #F1F1F1;
      padding: 9px 13px; }
    /* line 25, /opt/apps/developers.digitalocean.com/releases/20141114165310/source../css/_style-v2.scss */
    nav#nav ul.list-group li {
      width: 100%;
      border-bottom: 1px solid #cfcfcf; }
      /* line 29, /opt/apps/developers.digitalocean.com/releases/20141114165310/source../css/_style-v2.scss */
      nav#nav ul.list-group li a {
        color: black;
        text-decoration: none;
        display: block;
        padding: 10px 13px;
        font-weight: 600;
        font-size: 15px; }
        /* line 37, /opt/apps/developers.digitalocean.com/releases/20141114165310/source../css/_style-v2.scss */
        nav#nav ul.list-group li a:hover {
          background-color: #f1f1f1; }
      /* line 42, /opt/apps/developers.digitalocean.com/releases/20141114165310/source../css/_style-v2.scss */
      nav#nav ul.list-group li:last-child {
        border-bottom: none; }
      /* line 46, /opt/apps/developers.digitalocean.com/releases/20141114165310/source../css/_style-v2.scss */
      nav#nav ul.list-group li ul {
        border-top: 1px solid #cfcfcf; }
        /* line 51, /opt/apps/developers.digitalocean.com/releases/20141114165310/source../css/_style-v2.scss */
        nav#nav ul.list-group li ul li a {
          font-weight: 400;
          padding-left: 30px; }
        /* line 56, /opt/apps/developers.digitalocean.com/releases/20141114165310/source../css/_style-v2.scss */
        nav#nav ul.list-group li ul li:last-child {
          border-bottom: none; }
        /* line 60, /opt/apps/developers.digitalocean.com/releases/20141114165310/source../css/_style-v2.scss */
        nav#nav ul.list-group li ul li:before {
          content: "";
          position: relative; }

/* line 11, /opt/apps/developers.digitalocean.com/releases/20141114165310/source../css/style.scss */
header {
  float: left;
  width: 100%;
  height: 58px;
  background: #21292E;
  position: relative;
  z-index: 100; }

/* line 20, /opt/apps/developers.digitalocean.com/releases/20141114165310/source../css/style.scss */
header ul {
  margin: 0;
  position: absolute;
  top: 0;
  left: 200px;
  bottom: 0; }

/* line 28, /opt/apps/developers.digitalocean.com/releases/20141114165310/source../css/style.scss */
header li {
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 58px;
  position: relative; }

/* line 37, /opt/apps/developers.digitalocean.com/releases/20141114165310/source../css/style.scss */
header li a {
  color: #919191;
  font-weight: 400;
  display: block;
  padding: 0 30px;
  text-align: center;
  text-decoration: none;
  border-right: 1px solid #344047;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  transition: all 200ms ease;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px; }

/* line 53, /opt/apps/developers.digitalocean.com/releases/20141114165310/source../css/style.scss */
header li:first-child a {
  border-left: 1px solid #344047; }

/* line 57, /opt/apps/developers.digitalocean.com/releases/20141114165310/source../css/style.scss */
header li a:hover {
  color: #F3F3F3; }

/* line 61, /opt/apps/developers.digitalocean.com/releases/20141114165310/source../css/style.scss */
header li.active a {
  color: #fff; }

/* line 65, /opt/apps/developers.digitalocean.com/releases/20141114165310/source../css/style.scss */
header li.active:after {
  content: "";
  position: absolute;
  left: 0;
  right: 1px;
  background: #fff;
  height: 2px;
  bottom: -2px; }

/* line 75, /opt/apps/developers.digitalocean.com/releases/20141114165310/source../css/style.scss */
.v1 header li:nth-child(2) a {
  color: #fff; }

/* line 79, /opt/apps/developers.digitalocean.com/releases/20141114165310/source../css/style.scss */
a.logo {
  width: 162px;
  height: 25px;
  float: left;
  margin: 17px 0 0 17px;
  background: url("../images/logo-050b426e.png");
  display: block; }

/* line 88, /opt/apps/developers.digitalocean.com/releases/20141114165310/source../css/style.scss */
section.main {
  min-height: 400px; }

/* line 92, /opt/apps/developers.digitalocean.com/releases/20141114165310/source../css/style.scss */
footer {
  background: #2e3234;
  padding: 100px 0 60px 0;
  color: #747474;
  float: left;
  width: 100%; }
  /* line 99, /opt/apps/developers.digitalocean.com/releases/20141114165310/source../css/style.scss */
  footer a {
    color: #b8b8b8;
    font-weight: 600; }
  /* line 104, /opt/apps/developers.digitalocean.com/releases/20141114165310/source../css/style.scss */
  footer h3 {
    text-transform: uppercase;
    color: #ffffff;
    font-size: 17px;
    letter-spacing: 1.5px;
    margin-bottom: 17px;
    font-weight: 600; }
  /* line 113, /opt/apps/developers.digitalocean.com/releases/20141114165310/source../css/style.scss */
  footer .footer-column {
    float: left; }
    /* line 118, /opt/apps/developers.digitalocean.com/releases/20141114165310/source../css/style.scss */
    footer .footer-column ul li {
      margin-bottom: 7px; }
      /* line 121, /opt/apps/developers.digitalocean.com/releases/20141114165310/source../css/style.scss */
      footer .footer-column ul li a {
        text-decoration: none;
        font-size: 16px;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out; }
      /* line 127, /opt/apps/developers.digitalocean.com/releases/20141114165310/source../css/style.scss */
      footer .footer-column ul li a:hover {
        color: #f1f1f1; }
  /* line 134, /opt/apps/developers.digitalocean.com/releases/20141114165310/source../css/style.scss */
  footer #column-main {
    width: 212px;
    font-size: 15px; }
    /* line 138, /opt/apps/developers.digitalocean.com/releases/20141114165310/source../css/style.scss */
    footer #column-main a {
      color: #747474;
      text-decoration: none;
      display: block;
      line-height: 1.4; }
    /* line 145, /opt/apps/developers.digitalocean.com/releases/20141114165310/source../css/style.scss */
    footer #column-main a.cloud-icon {
      text-indent: -9999px;
      width: 61px;
      height: 33px;
      background-size: 61px 33px;
      background: url("../images/cloud-6a1216d2.svg") no-repeat;
      display: block;
      margin-bottom: 30px; }
    /* line 155, /opt/apps/developers.digitalocean.com/releases/20141114165310/source../css/style.scss */
    footer #column-main #copyright {
      margin-bottom: 10px; }
    /* line 159, /opt/apps/developers.digitalocean.com/releases/20141114165310/source../css/style.scss */
    footer #column-main #made-in-ny {
      margin-bottom: 22px; }
    /* line 165, /opt/apps/developers.digitalocean.com/releases/20141114165310/source../css/style.scss */
    footer #column-main #privacy a {
      color: #b8b8b8;
      font-size: 14px;
      font-weight: 600; }
  /* line 173, /opt/apps/developers.digitalocean.com/releases/20141114165310/source../css/style.scss */
  footer #column-product {
    width: 190px; }
  /* line 177, /opt/apps/developers.digitalocean.com/releases/20141114165310/source../css/style.scss */
  footer #column-company {
    width: 190px; }
  /* line 181, /opt/apps/developers.digitalocean.com/releases/20141114165310/source../css/style.scss */
  footer #column-help {
    width: 195px; }
  /* line 185, /opt/apps/developers.digitalocean.com/releases/20141114165310/source../css/style.scss */
  footer #column-community {
    width: 185px; }
  /* line 189, /opt/apps/developers.digitalocean.com/releases/20141114165310/source../css/style.scss */
  footer #column-connect {
    float: right; }
    /* line 195, /opt/apps/developers.digitalocean.com/releases/20141114165310/source../css/style.scss */
    footer #column-connect ul li a {
      background-image: url("../images/sprites/social-0668a567.png");
      background-repeat: no-repeat;
      display: inline-block;
      position: relative;
      padding-left: 30px; }
    /* line 203, /opt/apps/developers.digitalocean.com/releases/20141114165310/source../css/style.scss */
    footer #column-connect ul li.twitter a {
      background-position: 0 5px; }
    /* line 207, /opt/apps/developers.digitalocean.com/releases/20141114165310/source../css/style.scss */
    footer #column-connect ul li.facebook a {
      background-position: 0 -20px; }
    /* line 211, /opt/apps/developers.digitalocean.com/releases/20141114165310/source../css/style.scss */
    footer #column-connect ul li.linkedin a {
      background-position: 0 -44px; }
    /* line 215, /opt/apps/developers.digitalocean.com/releases/20141114165310/source../css/style.scss */
    footer #column-connect ul li.google a {
      background-position: 0 -68px; }
    /* line 219, /opt/apps/developers.digitalocean.com/releases/20141114165310/source../css/style.scss */
    footer #column-connect ul li.instagram a {
      background-position: 0 -92px; }
  /* line 226, /opt/apps/developers.digitalocean.com/releases/20141114165310/source../css/style.scss */
  footer #droplet-count {
    text-align: center;
    float: left;
    width: 100%;
    margin-top: 60px;
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 15px;
    color: #939393; }
